/* used to define thickness of margins and paddings, and size of box*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    background-color: #FAF6EF;
}


/******************header******************/
/* changes spacing with size of window*/
.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
}
/* defines the amount items flex and aligns them to the right side*/
nav{
    flex: 1;
    text-align: right;
}
/* displays items in a row*/
nav ul{
    display: inline-block;
    list-style-type: none;
}
/* add margin on the right side*/
nav ul li{
    display: inline-block;
    margin-right: 10px
}
/*determine menu bar text color*/
a{
    text-decoration: none;
    color: #FAF6EF;
}
/* destermine paragraph text color*/
p{
    color:#FAF6EF;
}
.header{
    background: linear-gradient(to bottom right, #312F26, #E5A030);
}
.header .row{
    margin-top: 70px;
}
/* determines max width of menu bar and add padding*/
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.logoButton{
    border: 2px solid transparent;
    padding: 8px 3px;
    transition: border 0.3s;
}
.logoButton:hover{
    border: 2px solid #FAF6EF;
    border-radius: 3px;
    padding: 8px 3px;
}
.cartButton{
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 3px;
    transition: border 0.3s;
}
.cartButton:hover{
    border: 2px solid #FAF6EF;
    border-radius: 3px;
    padding: 3px;
}
.navbarButton{
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 5px;
    transition: border 0.3s;
}
.navbarButton:hover{
    border: 2px solid #FAF6EF;
    border-radius: 3px;
    padding: 5px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}


/******************log in/register******************/
.formBox{
    width: 680px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    border: 2px solid #312f26ad;
    background: #FAF6EF;
    padding: 5px;
    overflow: hidden;
}
.buttonBox{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #e5a03065;
    border-radius: 30px;
}
.toggleButton{
    padding:10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#button{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #312F26, #E5A030);
    border-radius: 30px;
    transition: 0.5s;
}
.formBox .title{
    width: 300px;
    height: 35px;
    margin: auto;
    position: relative;
    top: 48px;
}
.formBox .title p{
    width: 100%;
    color: #312F26;
    font-size: x-large;
    font: bold;
    text-align: center;
}
.inputGroup{
    top:125px;
    position: absolute;
    width: 315px;
    transition: 0.5s;
    margin-left: 127px;
}
.inputField{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.description{
    width: 100%;
    height: 25px;
}
.continueButton{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #312F26, #E5A030);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 18px;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}


/******************footer******************/
.footer{
    background: #312F26;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #FAF6EF;
    margin-bottom: 20px;
}
.footer-column1, .footer-column2, .footer-column3, .footer-column4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-column1{
    flex-basis: 30%;
}
.footer-column2{
    flex: 1;
    text-align: center;
}
.footer-column2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-column3, .footer-column4{
    flex-basis: 12%;
    text-align: center;
}
.footer hr{
    border: non;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
ul{
    list-style-type: none;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
@media only screen and (max-width: 800px){
    
    nav ul{
        position:absolute;
        top: 120px;
        left: 0;
        background: #312F26;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*--media query for less than 600 screen size--*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .column2, .column3, .column4{
        flex-basis: 100%;
    }
}