@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    background: #FAF6EF;
}
.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 10px
}
a{
    text-decoration: none;
    color: #FAF6EF;
}
p{
    color:#FAF6EF;
}
.header{
    background: linear-gradient(to bottom right, #312F26, #E5A030);
}
.header .row{
    margin-top: 70px;
}
.message{
	margin-top: 20px;
	margin-bottom: 20px;
}
table{
	margin-left:auto;
	margin-right:auto;
}
td{
	padding-bottom: 5px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.container p{
	color: #312F26;
	text-align: center;
}
.container h1{
	text-align: center;
}
.logoButton{
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 8px 3px;
    transition: border 0.3s;
}
.logoButton:hover{
    border: 2px solid #FAF6EF;
    border-radius: 3px;
    padding: 8px 3px;
}
.cartButton{
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 3px;
    transition: border 0.3s;
}
.cartButton:hover{
    border: 2px solid #FAF6EF;
    border-radius: 3px;
    padding: 3px;
}
.navbarButton{
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 5px;
    transition: border 0.3s;
}
.navbarButton:hover{
    border: 2px solid #FAF6EF;
    border-radius: 3px;
    padding: 5px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}
.logoutButton{
	color: #FAF6EF;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 20 px;
    background: #B44402;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: background-color 0.5s;
}
.logoutButton:hover{
    background: #312F26;
}
.footer{
    background: #312F26;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #FAF6EF;
    margin-bottom: 20px;
}
.footer-column1, .footer-column2, .footer-column3, .footer-column4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-column1{
    flex-basis: 30%;
}
.footer-column2{
    flex: 1;
    text-align: center;
}
.footer-column2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-column3, .footer-column4{
    flex-basis: 12%;
    text-align: center;
}
.footer hr{
    border: non;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
ul{
    list-style-type: none;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*--media query for less than 800 screen size--*/
@media only screen and (max-width: 800px){
    
    nav ul{
        position:absolute;
        top: 120px;
        left: 0;
        background: #312F26;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*--media query for less than 600 screen size--*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .column2, .column3, .column4{
        flex-basis: 100%;
    }
}