<!-- the function of this page is to tell the user about the developpers 
and application and answer frequently asked questions -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-
        scale=1.0">
        <title>About Us & FAQ - BeeBook</title>
        <link rel="stylesheet" href="about.css">
    </head>
    <body>
        <!------------------header------------------>
        <div class="header">
            <div class="container">
                <div class="navbar">
                
                	<!-- logo button -->
                    <div class="logo">
                        <a href="/index">
                            <img src="images/logo.png" class="logoButton" width="130px">
                        </a>
                    </div>
                    
                    <!--list of items on navbar-->
                    <nav>
                        <ul id="MenuItems">
                            <li><a href="/index" class="navbarButton">Home</a></li>
                            <li><a href="/browse" class="navbarButton">Browse</a></li>
                            <li><a href="/sell" class="navbarButton">Sell</a></li>
                            <li><a href="/about" class="navbarButton">About Us/FAQ</a></li>
                            <li><a href="/entry" class="navbarButton">Account</a></li>
                        </ul>
                    </nav>
                    
                    <!-- cart button -->
                    <a href="/cart">
                        <img src="images/cart.png" class="cartButton" width="48px" height="48px">
                    </a>
                    
                    <!-- menu button -->
                    <img src="images/menu.png" class="menu-icon" 
                    onclick="menutoggle()">
                </div>
            </div>
        </div>
        
        <!-- about us information -->
        <div class="about">
        	<br>
        	
        	<!-- beebook information -->
        	<table>
        		<tr>
	        		<th>Who we are</th>
	        	</tr>
	        	<tr>
	        		<td>BeeBook is a nonprofit web-based e-commerce platform<br>
	        		and auction and retail store where students can search, sort,<br> 
	        		manage and filter through a database of textbooks sold by <br>
	        		businesses and other students, all in one place. </td>
	        	</tr>
	        	
	        <!-- developper information -->
	        </table>
        	<br>
        	<div class="row">
        		<h4>Developpers</h4>
        	</div>
        	<table>
        		<tr>
        			<td>Ryan Diep</td>
        		</tr>
        		<tr>
        			<td>Andy Dian Huang</td>
        		</tr>
        	</table>
        	<br>
        	<div class="row">
        		<h4>Client</h4>
        	</div>
        	<table>
        		<tr>
        			<td>Nathan Lim</td>
        		</tr>
        	</table>
        	<br>
        </div>
        
        <!------------------footer------------------>
        <div class="footer">
            <div class="container">
                <div class="row">
                
                	<!-- mobile app column -->
                    <div class="footer-column1">
                        <h3>Download Our App</h3>
                        <p>Download App for Android and ios mobile phone.</p>
                    </div>
                    
                    <!-- logo and mission column -->
                    <div class="footer-column2">
                        <img src="images/logo-wide.png">
                        <p>Our Purpose Is To Provide a Platform That Helps Students Sell and Buy Textbooks With Ease.</p>
                    </div>
                    
                    <!-- useful links column -->
                    <div class="footer-column3">
                        <h3>Useful Links</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Join Affiliate</li>
                        </ul>
                    </div>
                    
                    <!-- social media column -->
                    <div class="footer-column4">
                        <h3>Follow Us</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>YouTube</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2020 - BeeBook</p>
            </div>
        </div>
        
        <!-- menu button javascript for small screens -->
        <script>
        	//Define variables
            var MenuItems = document.getElementById("MenuItems");
            
            MenuItems.style.maxHeight = "0px";
            
            //call menutoggle() function
            function menutoggle(){
                if(MenuItems.style.maxHeight == "0px"){
                    MenuItems.style.maxHeight = "200px";
                }
                else{
                    MenuItems.style.maxHeight = "0px";
                }
            }
        </script>    
    </body>
</html>