<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-
        scale=1.0">
        <title>Browse - BeeBook</title>
        <link rel="stylesheet" href="browse.css">
    </head>
    <body>
        <!------------------header------------------>
        <div class="header">
            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <a href="/index">
                            <img src="images/logo.png" class="logoButton" width="130px">
                        </a>
                    </div>
                    <!--list of items on navbar-->
                    <nav>
                        <ul id="MenuItems">
                            <li><a href="/index" class="navbarButton">Home</a></li>
                            <li><a href="/browse" class="navbarButton">Browse</a></li>
                            <li><a href="/sell" class="navbarButton">Sell</a></li>
                            <li><a href="/about" class="navbarButton">About Us/FAQ</a></li>
                            <li><a href="/entry" class="navbarButton">Account</a></li>
                        </ul>
                    </nav>
                    <a href="/cart">
                        <img src="images/cart.png" class="cartButton" width="48px" height="48px">
                    </a>
                    <img src="images/menu.png" class="menu-icon" 
                    onclick="menutoggle()">
                </div>
            </div>
        </div>
        <div class="textbooks">
			<table class="table">
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Subject</th>
					<th>Condition</th>
					<th>Price ($CAD)</th>
					<th>Quantity</th>
					<th>Description</th>
				</tr>
				<tr>
					<td>Grade 12 Advanced Functions Nelson Textbook</td>
					<td>Barbara Alldred</td>
					<td>Math</td>
					<td>3</td>
					<td>49.08</td>
					<td>1</td>
					<td>Nelson textbook for advanced functions course.</td>
					<td class="add"><a href="/browse3" class="addButton">Add to Cart</a></td>
				</tr>
				<tr>
					<td>Grade 12 Physics Nelson Textbook</td>
					<td>Alan J. Hirsch</td>
					<td>Science</td>
					<td>1</td>
					<td>27.61</td>
					<td>3</td>
					<td>Nelson textbook for grade 12 physics</td>
					<td class="add"><a href="/browse3" class="addButton">Add to Cart</a></td>
				</tr>
			</table>
		</div>
        <!------------------footer------------------>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-column1">
                        <h3>Download Our App</h3>
                        <p>Download App for Android and ios mobile phone.</p>
                    </div>
                    <div class="footer-column2">
                        <img src="images/logo-wide.png">
                        <p>Our Purpose Is To Provide a Platform That Helps Students Sell and Buy Textbooks With Ease.</p>
                    </div>
                    <div class="footer-column3">
                        <h3>Useful Links</h3>
                        <ul>
                            <li>Coupons</li>
                            <li>Blog Post</li>
                            <li>Return Policy</li>
                            <li>Join Affiliate</li>
                        </ul>
                    </div>
                    <div class="footer-column4">
                        <h3>Follow Us</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>YouTube</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2020 - BeeBook</p>
            </div>
        </div>
        <script>
            var MenuItems = document.getElementById("MenuItems");
            
            MenuItems.style.maxHeight = "0px";
            
            function menutoggle(){
                if(MenuItems.style.maxHeight == "0px"){
                    MenuItems.style.maxHeight = "200px";
                }
                else{
                    MenuItems.style.maxHeight = "0px";
                }
            }
        </script>    
    </body>
</html>